<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://guihgf-001-site1.gtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://guihgf-001-site1.gtempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>guihgf-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\guihgf-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UpFinancasContext" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9FB0E3_up;User ID=DB_9FB0E3_up_admin;Password=passoka24" Name="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9FB0E3_up;User Id=DB_9FB0E3_up_admin;Password=passoka24" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="UpFinancas.Infra.Data.Context.UpFinancasContext, UpFinancas.Infra.Data" MigrationConfiguration="UpFinancas.Infra.Data.Migrations.Configuration, UpFinancas.Infra.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UpFinancasContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9FB0E3_up;User Id=DB_9FB0E3_up_admin;Password=passoka24</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>